@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Name:</strong> S UdayKuamr  <strong>PS No.:</strong> <a>40019973</a>  <strong>Email:</strong> <a href="mailto:udaykumarsamala@gmail.com">udaykumarsamala@gmail.com</a><br />
    <strong>Name:</strong> CH Sowmya  <strong>PS No.:</strong> <a>40018648</a>  <strong>Email:</strong> <a href="mailto:sowmya@gmail.com">sowmya@gmail.com</a><br />

    <strong>Name:</strong> NaveenKumar  <strong>PS No.:</strong> <a>40018961</a>  <strong>Email:</strong> <a href="mailto:naveen@gmail.com">naveen@gmail.com</a><br />
    <strong>Name:</strong> Golla ManiVarma  <strong>PS No.:</strong> <a>40018978</a>  <strong>Email:</strong> <a href="mailto:manivarma@gmail.com">manivarma@gmail.com</a><br />
    <strong>Name:</strong> Gorthi Ravi Teja  <strong>PS No.:</strong> <a>40018976</a>  <strong>Email:</strong> <a href="mailto:raviteja@gmal.com">raviteja@gmal.com</a><br />
</address>

