@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <table>
        <tr>
            <td> <strong>Name:</strong> S Udaykumar</td>
            <td><strong>PS No.:</strong></td>
            <td><a>40019973</a></td>
            <td><strong>Email:</strong></td>
            <td><a href="mailto:udaykumarsamala@gmail.com">udaykumarsamala@gmail.com</a></td>
        </tr>
        <tr>
            <td><strong>Name:</strong> Ch Sowmya</td>
            <td> <strong>PS No.:</strong></td>
            <td><a>40018648</a></td>
            <td><strong>Email:</strong></td>
            <td><a href="mailto:sowmya@gmail.com">sowmya@gmail.com</a></td>
        </tr>
        <tr>
            <td><strong>Name:</strong> Naveen Kumar</td>
            <td><strong>PS No.:</strong></td>
            <td><a>40018961</a></td>
            <td> <strong>Email:</strong></td>
            <td><a href="mailto:naveen@gmail.com">naveen@gmail.com</a></td>
           
        </tr>
        <tr>
            <td> <strong>Name:</strong> G Mani Varma</td>
            <td><strong>PS No.:</strong></td>
            <td> <a>40018978</a></td>
            <td> <strong>Email:</strong></td>
            <td><a href="mailto:manivarma@gmail.com">manivarma@gmail.com</a></td>
        </tr>
        <tr>
            <td> <strong>Name:</strong> Gorthi Ravi Teja&nbsp;</td>
            <td> <strong>PS No.:&nbsp;</strong></td>
            <td><a>40018976&nbsp;</a></td>
            <td><strong>Email:&nbsp;</strong></td>
            <td> <a href="mailto:raviteja@gmal.com">raviteja@gmal.com</a></td>
        </tr>
    </table>
</address>

