@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUP Successfull</title>
</head>
<body>
    <hgroup>
        <h1>Registration Successfull.</h1>
        <h2>@Html.ActionLink("Click Here To Login", "Login")</h2>
    
    </hgroup>
</body>
</html>
